.footer {
    width: 100%;
    background: #ffffff;
    padding: 1.25rem 0 2.5rem 0;
    margin-top: 4rem;
}

@media (max-width: 767px) {
    .footer {
        margin-top: 2rem;
        padding: 2rem 0 4rem;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18rem;
}

@media (max-width: 767px) {
    .container {
        padding: 0 1.75rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logoMain {
    font-size: 22px;
    font-weight: 500;
    color: #5f6368;
    letter-spacing: -0.02em;
}

@media (max-width: 767px) {
    .logoMain {
        font-size: 1.25rem;
        font-weight: 600;
        color: #121317;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
}

.link {
    font-size: 15px;
    font-weight: 400;
    color: #5f6368;
    text-decoration: none;
}

@media (max-width: 767px) {
    .link {
        font-size: 0.9375rem;
    }
}

.link:hover {
    text-decoration: underline;
}